/**
 * basic layout
 */
	
/* colors */
#header,
#footer {
	background-color: #f1f1f1;
}

#main-wrap {
	background-color: #D9D9D9;
}

#sidebar {
	background-color: #D9D9D9;
	float: left;
}

#content-wrap {
	background-color: #D9D9D9;
}

/* sizes */
#main-wrap > div {
	min-height: 450px;
}


#header,
#footer {
	min-height: 40px;
}



#main-wrap > div { min-height: 450px; }


#header,
#footer {
    min-height: 40px;
}


/* layout */
#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

#content-wrap {
    text-align: center;
	vertical-align: middle;
	line-height: 300px;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

#timer {
	font-size:40px;
}

#ActionGuide {
	font-size: 40px;
}

#resultlabel {
	width:500px;
	height:200px;
}